*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    
}
.header{
    width: 25%;
    background-color: rgba(236, 240, 243, 0.9);
    height: 700px;
    text-align: center;
    overflow: hidden;
    clear: both;
}
.header img{
    width: 50%;
    border-radius: 50%;
    margin: 50px auto;
}
.header h1{
    font-weight: 900;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: -30px;
}
.header p{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
}
.header a{
   
    text-align: center;
    font-size: 20px;

}
.unordered-list li{
    margin:auto;
    padding-top:5px;
    padding-bottom:5px;
}
.icon{
    font-size: 20px;
    color: #0014ffd1;
    margin-top: 18px;
    padding-right: 6px;
}
.icon .fa-instagram{
    color:purple;
}
#icon-para{
    font-size: 15px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.main_section{
    width: 75%;
    float: right;
    overflow: hidden;
    clear: both;
    display:grid;
    margin-top: -700px;
    background-image:url("image/img1.jpg");
    opacity: 0.9;
    height: 700px;
}
.heading{
    color:white;
    font-weight: 500;
    font-size: 20px;
    margin-top: 75px;
    font-family: 'Roboto', sans-serif;
    margin-left: 4%;
}
#name{
    color: #e91e85fa;
    font-family: 'Courier New', Courier, monospace;
}
#head{
    color:white;
    font-weight: 400;
    margin-top:-250px;
    margin-left: 4%;
}
#para{
    margin-left: 4%;
    color: #e91e85ad;
    font-size: 18px;
    font-weight: 400;
}
